# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
desktop.ini

# Output files
*.csv
*.xlsx

# Model and cache files
*.pkl
*.joblib
*.h5

# Log files
*.log
